march-14th/src/main/mule/first-raml.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
    <http:listener-config name="first-raml-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="first-raml-config" api="first-raml.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    
	
	
	<flow name="first-raml-main">
        <http:listener config-ref="first-raml-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="first-raml-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\search:application\json:first-raml-config">
		<logger level="INFO" doc:name="flow started" doc:id="4a97f835-375e-43cd-863e-8b990fbd36fe" message="flow begening"/>
		<flow-ref doc:name="Flow Reference" doc:id="248f1f83-d818-4119-9fae-b6d57fe7c0ea" name="put_Flow2"/>
		<error-handler ref="global-exceptionhandlingError_Handler" />
    </flow>
    <flow name="delete:\search:application\json:first-raml-config">
		<logger level="INFO" doc:name="flow started" doc:id="5f364d83-6bdf-4c11-94b7-0341ce0a6385" message="flow begening"/>
		<flow-ref doc:name="Flow Reference" doc:id="fcc5bacb-0016-46a7-962a-d0b93f3f5070" name="delete_Flow3"/>
		<error-handler ref="global-exceptionhandlingError_Handler" />
    </flow>
	<flow name="get:\search:first-raml-config">
		<logger level="INFO" doc:name="flow started" doc:id="30ce28dc-5aee-49ba-b89a-2b84cb3961bb" message="#[payload]"/>
		<choice doc:name="Choice" doc:id="23412e14-822a-40eb-9861-a5c905f18645" >
			<when expression="#[attributes.queryParams.keyword == 'anil']">
				<logger level="INFO" doc:name="Logger" doc:id="572c5b50-0c2a-4a1f-8d04-e81c3c58cd8f" message="sucess flow"/>
				<flow-ref doc:name="Flow Reference" doc:id="06518413-173b-4778-9f7c-da8850b205ee" name="get_Flow" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="f585cf07-8a1e-4875-a3b3-7ee461b94e22" message="error case"/>
			</otherwise>
		</choice>
		<error-handler ref="global-exceptionhandlingError_Handler" />
    </flow>
    <flow name="post:\search:application\json:first-raml-config">
		<logger level="INFO" doc:name="flow started" doc:id="d4767e37-65d6-45f7-ab98-6bc6e1531e52" message="flow begening"/>
		<flow-ref doc:name="Flow Reference" doc:id="1aa09cc6-b5f9-4e40-b6ae-7cf9d700d51b" name="post_Flow1"/>
		<error-handler ref="global-exceptionhandlingError_Handler" />
    </flow>
</mule>
